p {
    margin: 0px;
}

/* static position*/
div {
    border: solid;
    border-color: black;
}

/* static position*/
#div1 {
    background-color: yellow;
}

/* relative position */
/*
#div2 {
    background-color: cyan;
    position: relative;
    top: 15px;
    left: 30px;
}
    */
/* absolute position*/
#div2 {
    background-color: cyan;
    position: absolute;
    top: 15px;
    left: 30px;
}

/* static position*/
#div3 {
    background-color: lightpink;
}

/* static position*/
#div4 {
    background-color: orange;
}

/* static position*/
/*
#div5 {
    background-color: lightblue;
}
    */

/* absolute position*/
/*
#div5 {
    background-color: lightblue;
    position: absolute;
    top: 5px;
    left: 5px;
}
    */

/* fixed position */
#div5 {
	background-color: lightblue;
	position: fixed;
	top: 5px; 
	left: 5px;
}

/* static position*/
#div6 {
    background-color: lightgray;
}
